# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Play specific #
JPlay/build/
JPlay/dist/
JPlay/nbproject/private/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Vim swap files #
*~
